*{
    margin:0;
    padding:0;
}
html,body{
    width:100%;
    height:100%;
}
#container{
    width:400px;
    height:150px;
    margin:50px auto 0;
    padding:10px;
    box-shadow: 0 0 10px 10px #666;
    border-radius:10px;
}
#btnGroup{
    display:flex;
    justify-content: space-around;
    margin-bottom:20px;
}
hr{
    border-bottom:3px solid green;
}
button{
    display:block;
    width:60px;
    height:25px;
    border:0;
    margin-right:20px;
    background-color:dodgerblue;
    color:white;
    transition:all 1s;
    cursor:pointer;
}
button:hover{
    background-color:deepskyblue;
}
h3{
    width:100%;
    height:40px;
    text-align:center;
    line-height:40px;
    font-size:20px;
    margin-top:30px;
}